<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Speech Emotion Recognition </title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="favicon.ico">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="project">SPEECH EMOTION RECOGNITION</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/parv24/Speech-Emotion-Recognition">
              <img src="github.png" class="icon" alt="">
            </a></li>
            <li><a href="http://localhost:3000/developers">
              <img src="developers.png" class="icon" alt="">
            </a></li>
            <li><a href="https://colab.research.google.com/drive/1dpxFqnfx7xJGZjM6X1g8VAUKXnjeBzPT?usp=sharing">
              <img src="tech2.png" class="icon" alt="">
            </a></li>
          </ul>
      </div>
    </nav>
  </head>
  <body>
